<% if display_avatar?(user.profile) %>
  <div class="avatar">
    <div class="<%= width_class %> rounded-full">
      <%= image_tag user.profile.avatar.representation(:thumb) %>
    </div>
  </div>
<% else %>
  <div class="avatar avatar-placeholder">
    <div class="bg-neutral text-neutral-content <%= width_class %> rounded-full">
      <span><%=profile_name_initials(user)%></span>
    </div>
  </div>
<% end %>
